body, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: #1e0127;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logotxt {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-right: 800px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #e100ff; 
    /* border-bottom:solid 2px #FFA500; */
}
.logo img {
    width: 40px;
}

.search-box {
    display: flex;
}

#searchInput {
    padding: 5px;
    border: none;
    border-radius: 2px;
}

#searchButton {
    background-color: #e100ff;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}
button {
    background-color: #e100ff;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 15px 10px;
    margin-left: 15px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #6f117b; 
}

h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    color: #000324;
    font-weight: bolder;
}


.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
  }
  
  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .featureIcon {
    width: 50px;
    height: 50px;
  }
  
  .featureTitle {
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
  }
  
  .featureDesc {
    color: gray;
    width: 50%;
    height: 100px;
  }
  
  .gallery {
    padding: 50px;
    display: flex;
  }
  
  .galleryItem {
    flex: 1;
    padding: 50px;
  }
  
  .galleryImg {
    width: 100%;
  }
  
  .newSeason {
    display: flex;
  }
  
  .nsItem {
    flex: 1;
    background-color: #bb75c6;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .nsImg {
    width: 100%;
    height: 500px;
  }
  
  .nsTitle {
    font-size: 40px;
  }
  
  .nsButton {
    padding: 15px;
    font-weight: 600;
    cursor: pointer;
  }
  
  /* footer {
    display: flex;
    background-color: #1e0127;
  }
  
  .footerLeft {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 40px;
  }
  
  .fMenuTitle {
    font-size: 15px;
    color: floralwhite;
    padding-bottom: 0px;
  }
  
  .fList {
    padding-left: 20px;
    list-style: none;
  }
  
  .fListItem {
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
  }
    
  .fInput {
    padding: 5px;
  }
  
  .fButton {
    padding: 5px;
    background-color: rgb(244, 238, 238);
    color: rgb(191, 11, 11);
  }
  
  .fIcons{
    display: flex;
  }
  
  .fIcon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .copyright{
    font-weight: 300;
    font-size: 14px;
    padding-top: 50px;
  }*/


  .footer
    {
        background-color: #1e0127;
        text-align: center;
        color: #fff;
        padding-bottom: 12px;
    }
    .footer .social {
        padding: 1rem 0;
    
    }
    
    .footer .social a{
        height: 3rem;
        width: 3rem;
        line-height: 3rem;
        font-size: 1.5rem;
        color: #d7caca;
        border: 2px solid #dbb4b4;
        margin: .3rem;
        border-radius: 50%;
    
    }
    .footer .social a:hover{
        color: #fff;
        border-color: #000;
        transition: .2s linear;
        }
      .fIcons{
    display: flex;
  }
  
  .fIcon{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-left: 5px;
    color: aliceblue;
  }




   
  @media screen and (max-width:480px) {
    nav{
      padding: 20px;
    }
  
    .search{
      display: none;
    }
  
    .navBottom{
      flex-wrap: wrap;
    }
  
    .menuItem{
      margin: 20px;
      font-weight: 700;
      font-size: 20px;
    }
  
    .slider{
      clip-path: none;
    }
  
    .sliderImg{
      width: 90%;
    }
  
    .sliderBg{
      width: 100%;
      height: 100%;
    }
  
    .sliderTitle{
      display: none;
    }
  
    .sliderPrice{
      top: unset;
      bottom: -50;
      left: 0;
      background-color: lightgrey;
    }
  
    .buyButton{
      right: 0;
      top: 0;
    }
  
    .features{
      flex-direction: column;
    }
  
    .product{
      clip-path: none ;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .productImg{
      width: 80%;
    }
  
    .productDetails{
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      top: 0;
    }
  
    .productTitle{
      font-size: 50px;
      margin: 0;
    }
  
    .gallery{
      display: none;
    }
  
    .newSeason{
      flex-direction: column;
    }
  
    .nsItem:nth-child(2){
      padding: 50px;
    }
  
    #footer {
      flex-direction: column;
      align-items: center;
    }
  
    .footerLeft{
      padding: 20px;
      width: 90%;
    }
  
    .footerRight{
      padding: 20px;
      width: 90%;
      align-items: center;
      background-color: rgb(210, 8, 8);
    }
  
    .payment{
      width: 90%;
      padding: 20px;
    }
  }  
